body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* 컨테이너 스타일 */
.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* 테이블 셀 스타일 */
td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgb(182, 191, 200);
    background-color: #f9f9f9;
}

/* 제목 옆에 내용이 배치되도록 하기 위한 스타일 */
td.label {
    width: 20%;
    font-weight: bold;
    background-color: #eaf4e2;
}

td.content {
    width: 80%;
}

/* 이미지 스타일 */
td.content img {
    max-width: 100%;
    height: auto;
}

/* 버튼들이 같은 라인에 배치하기 위한 스타일 */
.button-container {
    display: flex;
    margin-top: 30px;
}

/* 버튼 스타일 */
.button-container a {
    display: inline-block;
    padding: 10px 23px;
    background-color: #868D45;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.button-container a:hover {
    background-color: #798645;
}

.button-container .back {
    background-color: #8a8a8a;  /* 기본 색상 */
    text-align: center;
}

.button-container .back:hover {
    background-color: #646363;  /* hover 시 색상 */
}

/* 각 버튼의 배치 */
.button-container .back {
    text-align: center;
}

.button-container .write {
    text-align: center;
    margin-left: 65%;
}

.button-container .delete {
    text-align: center;
    margin-left: 6px;
}

.button-container .edit {
    text-align: center;
    margin-left: 6px;
}
